<wrapper class="footer">
  <container class="container-footer">
    <center>
      <menu>
        <item href="https://www.facebook.com/kcshoesru">
          <img src="https://ci6.googleusercontent.com/proxy/w9qhpHzo0YxkvnUlygvrqwLJ5QWCb8FfMmVGlj0Mh1gvvziDGmugb1mVJyJkprcMOj7YPszRyOEMDFm-pE21kg=s0-d-e1-ft#https://s.dclite.ru/social/cl_cr_facebook.png" alt="" style="border:none;vertical-align:middle;width:40px" class="CToWUd">
        </item>
        <item href="https://vk.com/kcshoes">
          <img src="https://ci4.googleusercontent.com/proxy/Rf2ZwOlNXKbdVhdRx6CwHugY7IFm7YkF48SiuGFdx2-80TFtktmsPjvdR-6xylY5rO_fYA-innLyvpOM7bx3dxg=s0-d-e1-ft#https://s.dclite.ru/social/cl_cr_vkontakte.png" alt="" style="border:none;vertical-align:middle;width:40px" class="CToWUd"></a>
        </item>
        <item href="https://www.instagram.com/kcshoes.ru/">
          <img src="https://ci6.googleusercontent.com/proxy/eyjxyiwC8wCmYo0qg-ttZf-xvMZzyAtCZjvrLgQVafwQ5TEqaKjYHiQQfXe7YDagEC3pVY_y2Kfu7jIhgaer2Rk=s0-d-e1-ft#https://s.dclite.ru/social/cl_cr_instagram.png" alt="" style="border:none;vertical-align:middle;width:40px" class="CToWUd">
        </item>
        <item href="https://ok.ru/kcshoes">
          <img src="https://ci4.googleusercontent.com/proxy/fDPE2h4I3ISage2KTJ7dbx9EIU7wma8jLyB-eo4ckubqWXn3uZrK9VlSRs5qfw-wVSX_WFspJp2kun0=s0-d-e1-ft#https://s.dclite.ru/social/cl_cr_odn.png" alt="" style="border:none;vertical-align:middle;width:40px" class="CToWUd">
        </item>
      </menu>
    </center>
    <center>
      <img src="https://kc-shoes.ru/front/view/theme/kcnew/image/footer-payment-method.png" alt="">
    </center>
    <center>
      <spacer size="10"></spacer>
      <p class="text-center">Вы получили это письмо, так как подписаны на рассылку сайта <a href="https://kc-shoes.ru">kc-shoes.ru</a></p>  
      <p class="text-center">Связаться с нами можно по номеру: <a class="phone" href="tel:8(800)7002768">8(800) 700-27-68</a>. Звонок по России бесплатный.</p>
      <p class="text-center">© 1991-2019, С любовью, команда КС-Немецкая обувь</p>
      <a id="unsub_link" href="%ОТПИСАТЬСЯ%">отписаться</a>
      <spacer size="30"></spacer>
    </center>
  </container>
</wrapper>