<wrapper class="header">
  <container class="container-line">
    <div class="header-line"></div>
  </container>
  <container class="container-header">
    <row class="collapse">
      <columns small="3" large="4">
        <a href="https://kc-shoes.ru/" class="header-logo">
          <img src="assets/img/logo-header.png" />
        </a>
      </columns>
      <columns small="8" large="4" class="small-offset-1">
        <div class="header-phone">
          <img
            width="34"
            height="34"
            src="https://kc-shoes.ru/front/view/theme/kcnew/image/mail-header-phone.png"
            alt=""
          />
          <span>
            8 800 700 27 68
          </span>
        </div>
      </columns>
      <columns small="12" large="4">
        <div class="header-delivery">
          <img
            width="34"
            height="34"
            src="https://kc-shoes.ru/front/view/theme/kcnew/image/mail-header-delivery.png"
            alt=""
          />
          <span>Доставка бесплатно по всей Росии</span>
        </div>
      </columns>
    </row>
  </container>
  <container class="container-nav">
    <menu class="">
      <item
        href="https://kc-shoes.ru/catalog/woman/?utm_source=email&utm_medium=mailsoft&utm_campaign={{
          campaign_name
        }}&utm_content=menu&utm_term=woman"
        >Женщинам</item
      >
      <item
        href="https://kc-shoes.ru/catalog/man/?utm_source=email&utm_medium=mailsoft&utm_campaign={{
          campaign_name
        }}&utm_content=menu&utm_term=man"
        >Мужчинам</item
      >
      <item
        href="https://kc-shoes.ru/catalog/bags/?sort=discount_desc&utm_source=email&utm_medium=mailsoft&utm_campaign={{
          campaign_name
        }}&utm_content=menu&utm_term=bag"
        >Сумки</item
      >
      <item
        href="https://kc-shoes.ru/catalog/brands/?utm_source=email&utm_medium=mailsoft&utm_campaign={{
          campaign_name
        }}&utm_content=menu&utm_term=brand"
        >Бренды</item
      >
      <item
        href="https://kc-shoes.ru/catalog/vesna-leto/?utm_source=email&utm_medium=mailsoft&utm_campaign={{
          campaign_name
        }}&utm_content=menu&utm_term=new"
        >Весна 2019</item
      >
      <item
        href="https://kc-shoes.ru/catalog/sale/?utm_source=email&utm_medium=mailsoft&utm_campaign={{
          campaign_name
        }}&utm_content=menu&utm_term=woman"
        >Распродажа</item
      >
    </menu>
  </container>
</wrapper>
